<h1 class="text-center my-4">学びスタイル診断</h1>

<%= form_with url: submit_questions_path, method: :post, local: true, class: "container", data: { controller: "submit", action: "submit->submit#handleSubmit" } do %>
  <% @questions.each_with_index do |question, i| %>
    <div class="mb-4 border p-3 rounded shadow-sm">
      <h5>Q<%= i + 1 %>. <%= question.content %></h5>

      <% question.choices.each do |choice| %>
        <div class="form-check ms-3">
          <%= radio_button_tag "answers[#{question.id}]", choice.id, false, required: true, class: "form-check-input" %>
          <%= label_tag "answers_#{question.id}_#{choice.id}", choice.content, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= submit_tag "診断する", class: "btn btn-primary w-100", data: { submit_target: "button" } %>

  <div class="text-center mt-3 d-none" data-submit-target="spinner">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="mt-2">診断中です。しばらくお待ちください…</p>
    </div>
<% end %>